{% extends "TiendaVirtualApp/padre.html" %}

{% load static %}
{%block content %}
<div class="container">
  <div style="float: right;">
  <!--<p>total: {{importe_total_carro}}</p>-->
  {% include "carro/widget.html" %}
  </div>
  <div class="row">
    
    {% for i in productos %}
     <div class="col-md-3"><!--eso ayuda a definir cuantos articulos quiero por columna-->
    <div class="card" style="width: 100%; margin: 5px 5px;" >
      <img src="{{i.imagen.url}}" alt=""  class="card-img-top">
      <div class="card-body" style="text-align: center">
        <h6 class="card-title">{{i.nombrep}}</h6>
        <p class="card_text">{{i.precio}}&nbsp;$</p>
        
      
    </div>
    <div class="card-footer text-center">
      <a href="{% url 'carro:agregar' i.id %}" class="btn btn-success">Agregar al carro</a>
    </div>

    </div>
  </div>
  {% endfor %}
</div>





{% endblock %}